* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.navbar{
    margin-top:-100px;
}
.content {
    background-color: #182847;
    color:#3db166;
    width: 100%;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.top{
    width: 100%;
    display: flex;
    justify-content: space-around;
    border-bottom: 2px solid #3db166;
    padding: 5px;
    margin: 7px;
}
.left img{
    height: 250px;
    width: 230px;
    border:2px solid white;
    border-radius: 5px;
}
.edu{
    width: 80%;
    margin-bottom: 30px;
}
.edu_heading{
    margin-top: 20px;
    margin-bottom: 25px;
}
.edu>.heading{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 35px;
}
.edu>.qualification{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: white;
}
.course{
    width: 80%;
    margin-bottom: 30px;
}
.course>.sub{
    color: white;
}
.main-footer {
    background-color: #3b3a30;
    width: 100%;
    height: 80px;
    color: #8d8d8d;
}
.main-footer_child {
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 30px;

}