*{
    margin: 0px;
    padding: 0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body{
   background-color: #1b2434;
}
.bg img{
    width: 100%;
    height: 99vh;
    filter: opacity(.3)
}
.login-box{
    text-align: center;
   height: 160vh;
    width: 910px;
    background-color: white;
    color: black;
   border-radius: 20px;
    position: absolute;
   top: 5vh;
   left: 16%;
   margin-bottom: 0px;
}
.heading{
    border-bottom: 2px solid #3db166;
    text-align: center;
    margin: 20px;
    padding: 10px;
    margin-bottom: 40px; 
}
input{
    width: 30%;
    height: 40px;
    border: none;
    border-bottom: 2px solid #3db166;
    padding: 5px;
}
input:focus{
    outline: none;
}
button{
    width: 50%;
    height: 50px;
    border: 1px solid #3db166;
    margin-top: 20px;
}
button:hover{
    background-color: #3db166;
    transition: .5s;
}
.exit img{
    position: absolute;
    height: 40px;
    width: 40px;
    top: 7vh;
    left: 78%;
}
.main-footer
{
    margin-top: 180vh;
    background-color: #3b3a30;
    width: 100%;
    height: 80px;
    color: #8d8d8d;
}
.main-footer_child
{
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 30px;
}